{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="moto">

      <div class="todays_date_wrapper" style="display: flex; flex-direction: column; padding-bottom: 30px; ">
        <p>Welcome, {{request.user}}</p>
          <span id="datetime"></span>
      
          <script>
            // create a function to update the date and time
            function updateDateTime() {
              // create a new `Date` object
              const now = new Date();
      
              // get the current date and time as a string
              const currentDateTime = now.toLocaleString();
      
              // update the `textContent` property of the `span` element with the `id` of `datetime`
              document.querySelector('#datetime').textContent = currentDateTime;
            }
      
            // call the `updateDateTime` function every second
            setInterval(updateDateTime, 1000);
          </script>
      </div>

      <div class="moto-info">
        <h5>Daily Learning</h5>
        <h5>Uncensored Discussions</h5>
      </div>

      <div class="feedback_button">
        <form class="button_wrapper">
          <button type="submit" class="discussion" style="width: 12rem;">Leave Your Feedback</button>
        </form>
      </div>
    </div>

    <div class="daily_title">
      <div class="title_info">
        <h1 style="margin-bottom: 10px;"><strong>Todays <br>DailyKnower Topic:</strong></h1>

        
        {% for post in posts|slice:":1" %}
        <div class="latest-post" style="background-color: rgb(220,220,220); border-radius: 20px; padding: 10px; font-size: 30px; box-shadow: 0px 0px 10px grey; max-width: 90%; max-height: 40%; ">
          <h5 style="text-align: center;"><a style="text-decoration: none;" href="{% url 'feed' %}">{{latest_post.name}}</a></h5>
        </div>
              
        {% endfor %}
  
      </div>
      <div class="find_friends">
        <p>Scroll here and <br> find your friends</p>
        <div class="find_friends_info" style="overflow-y: scroll; border-radius: 20px;">
            
          {% for user in users %}
          <ul>
            <a href=""> <li><h3>{{user}}</h3></li></a>
            {% endfor %}
          </ul>

          
            
        </div> 
      </div>

    </div>

    <div class="resources_wrapper">

      <div class="resources_boxes">
        <div class="resource_box_one">
          <div class="box_title" style="background-color: rgb(247,208,43); border-top-left-radius: 20px; border-top-right-radius: 20px; font-size: 10px; justify-content: start;">
             <h4>Articles</h4>

    
          </div>
          <p class="preview-text" style="opacity: 0.5; font-size: 8px; text-align: center;"></p>
          <div style="height: 60px;">
        
          </div>

          <button popovertarget="myheader" popovertargetaction = "show" class="box-button-1" style="font-size: 10px;">open full</button>
          

          <div popover id="myheader" class="my-header" style="width: 80%; height: 70%; text-align: center; border-radius: 40px;">
    
            <p>test test test test tets lorem i</p>
          </div>

        </div>
        <div class="resource_box_two">
          <div class="box_title" style="background-color: rgb(247,208,43); border-top-left-radius: 20px; border-top-right-radius: 20px; font-size: 10px; justify-content: start;">
             <h4>Videos</h4>
          </div>


          <div style="height: 60px;">
            <p class="preview-text" style="opacity: 0.5; font-size: 8px; text-align: center;"></p>
          </div>


          <button popovertarget="myheader2" popovertargetaction = "show" class="box-button-2" class="box-button-2" style="font-size: 10px;">open full</button>

          <div popover id="myheader2" style="width: 80%; height: 70%; text-align: center; border-radius: 40px;">

            <p>test test test </p>
          </div>
          
        </div>

        <div class="resource_box_three">
          <div class="box_title" style="background-color: rgb(247,208,43); border-top-left-radius: 20px; border-top-right-radius: 20px; font-size: 10px; justify-content: start;">
             <h4>Other...</h4>
          </div>

          

          <div style="min-height: 60px;"> 
            <p class="preview-text" style="opacity: 0.5; font-size: 8px; text-align: center;"></p>
          </div>


          <button popovertarget="myheader3" popovertargetaction = "show" class="box-button-3" class="box-button-3" style="font-size: 10px;">open full</button>
          


          <div popover id="myheader3" style="width: 80%; height: 70%; text-align: center; border-radius: 40px;">

            <p>test test test</p>

        </div>

        

        </div>
          
        </div>
          
        </div>

    <form action="{% url 'feed' %}" class="discussion_button_wrapper">
      <button type="submit" class="discussion" style="font-size: 20px;">I'm ready to discuss</button>
    </form>



    <script>
      document.querySelectorAll('.resources_boxes > div').forEach((box) => {
  const popoverContent = box.querySelector('[popover]').textContent; // Get popover content
  const previewText = popoverContent.slice(0, 200) + '...'; // Truncate to first 40 characters
  const previewElement = box.querySelector('p');
  if (previewElement) {
    previewElement.textContent = `${previewText}`;
  }
});
    </script>



 

{% endblock content %}
