{% load static %}


<footer>
   
  <div class="socials-bar" style="margin-bottom: 5%;">
    <a href="https://www.instagram.com/misha_gus" class="instagram"><img src="{% static 'assets/svgs/icons8-instagram (1).svg' %}" alt="Instagram"></a>
    <a href="#" class="tiktok"><img src="{% static 'assets/svgs/icons8-tiktok (1).svg' %}" alt="TikTok"></a>
    <a href="https://x.com/mikhail_gus" class="twitter"><img src="{% static 'assets/svgs/icons8-x (1).svg' %}" alt="Twitter"></a>
    <a href="https://www.youtube.com/@Mikhail-Gusev" class="youtube"><img src="{% static 'assets/svgs/icons8-youtube (1).svg' %}" alt="YouTube"></a>
    <a href="https://www.linkedin.com/in/mikhail-gusev-83a152227/" class="linkedin"><img src="{% static 'assets/svgs/icons8-linkedin.svg' %}" alt="LinkedIn"></a>
</div>
  </footer>